name: Docker Image CI
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        fetch-depth: 1
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag reviewdog-cpplint:$(date +%s)
