name: PR test
on: [pull_request]

jobs:
  cpplint:
    runs-on: ubuntu-latest
    steps:
    - name: clone
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - uses: ./
      with:
        github_token: ${{ secrets.github_token }}
        # reporter: github-pr-review
        reporter: github-pr-check
        flags: --linelength=50
