name: Self test
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: clone
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        fetch-depth: 2
    - name: testbuild
      run: |
        cd testdata
        g++ --version
        g++ ./test.cpp -o test
        ls
        ./test
