name: Self test
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: clone
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 2
    - name: testbuild
      run: |
        cd testdata
        g++ --version
        g++ ./test.cpp -o test
        ls
        ./test
